body {
}

.bubble-list,.word-list {
	list-style: none;
}

.bubble-list li,.word-list li {
	float: left;
	background-color: #ff8205;
	border-radius: 5px;
	color: #ffffff;
	height: 40px;
	padding: 10px;
	margin-top: 5px;
	margin-left: 10px;
	font-size: 12pt;
}

.bubble {
	background-color: #fafafa;
	height: 50px;
	border-radius: 30px;
}	

.word-box {
	background-color: #0582ff;
	border-radius: 5px;
	height: 50%;
}

.level-man {
	background-color: #fafafa;
	width: 70%;
	height: 300px; /*ta bort när level-man är klar*/
	margin: auto;
	text-align: center;
}

.score {
	background-color: #0582ff;
	width: 80%;
	margin: auto;
	text-align: center;
	font-size: 20pt;
}

#soundButton {
	background-color: #0582ff;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border: none;
	margin: auto;
}

#soundButton span {
	font-size: 17pt;
}