  	<div class="container-fluid">

  		<div class="col-sm-9">
  			<div class="bubble">
  				<ul class="bubble-list">
  					<li>hej</li>
  					<li>jag</li>
  					<li>heter</li>
  				</ul>
  			</div>
  			<div class="word-box">
  				<ul class="word-list">
  					<li>hej</li>
  					<li>jag</li>
  					<li>heter</li>
  				</ul>
  			</div>
  		</div>

  		<div class="col-sm-3">
  			<!-- score -->

        <!--Angular testcode -->
        Set MyVar <input type="number" ng-model="myVar" ng-change="setMyVar(myVar)"/>
        Your var is: {{getMyVar()}}
  		</div>

      <div>

  	</div>