
<div class="container">



	<!-- instructions -->
 	<div class="row" >  
 		<h2>Choose a topic to begin</h2>
 	</div>


 	<div class="row">
	
	<div class="pickSentence" ng-controller="Tabcontroller as panel">
		<ul>
			<li ng-class="{active:panel.isSelected(1)}"> 
				<a href="#/sentence/1" ng-click="panel.selectTab(1)">Animals</a>
			</li>
			<li ng-class="{active:panel.isSelected(2)}">
				<a href="#/sentence/5" ng-click="panel.selectTab(2)">Food</a>
			</li>
			<li ng-class="{active:panel.isSelected(3)}">
				<a href="#/sentence/9" ng-click="panel.selectTab(3)">Vehicles</a>
			</li>			
			
					<!--<a class="ng-scope" href="#/sentence/{{sentence.id}}" ng-repeat="sentence in allSentences.slice(0, 4)">
						<h3 ng-show="panel.isSelected(1)" class="ng-binding">{{sentence.engSentence}}</h3>
					</a>
					<a class="ng-scope" href="#/sentence/{{sentence.id}}" ng-repeat="sentence in allSentences.slice(4, 8)">
						<h3 ng-show="panel.isSelected(2)" class="ng-binding">{{sentence.engSentence}}</h3>
					</a>
					<a class="ng-scope" href="#/sentence/{{sentence.id}}" ng-repeat="sentence in allSentences.slice(8)">
						<h3 ng-show="panel.isSelected(3)" class="ng-binding">{{sentence.engSentence}}</h3>
					</a>-->
						
					
					<div ng-repeat="item in items.slice(6, 10)">{{item}}</div>
		</ul>
	</div>
	</div>
	

<!--Progress bar-->
	<div class="row">
    	<div ng-include=" 'partials/progressbar.html' "></div>
  	</div>

</div>







