<div class="container">

	<!-- instructions -->
 	<div class="row" >  
 		<h2>Chose a level to begin</h2>
 	</div>
	
	<div class="pickSentence" ng-controller="Tabcontroller as panel">
		<ul>
			<li ng-class="{active:panel.isSelected(1)}"> <!--Kan gå efter levelid?-->
				<a href ng-click="panel.selectTab(1)">Level 1 - Animals</a>
			</li>
			<li ng-class="{active:panel.isSelected(2)}">
				<a href ng-click="panel.selectTab(2)">Level 2 - Food</a>
			</li>
			<li ng-class="{active:panel.isSelected(3)}">
				<a href ng-click="panel.selectTab(3)">Level 3 - Vehicles</a>
			</li>			
			<li ng-class="{active:panel.isSelected(4)}">
				<a href ng-click="panel.selectTab(4)">Level 4</a>
			</li>
			
					<a class="ng-scope" href="#/sentence/{{sentence.id}}" ng-repeat="sentence in allSentences">
						
						<h3 ng-show="panel.isSelected(1)" class="ng-binding">{{sentence.engSentence}}</h3>
						<h3 ng-show="panel.isSelected(2)" >Level 2-content</h3>
						<h3 ng-show="panel.isSelected(3)" >Level 3-content</h3>
						<h3 ng-show="panel.isSelected(4)" >Level 4-content</h3>
						
						<!--<h3>Play full level?</h3>-->
					</a>
		</ul>
	</div>

</div>







