<div class="container">

  <!--Progress bar-->
  <div class="row">
    <div class="progress">
      <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
        <span class="sr-only">20% Complete</span>
      </div>
    </div>  
  </div>

  <div class="row">
    <h2>Drag the words to the bubble!</h2>
  </div>

  <div class="row">
    <div class="col-sm-1 col-xs-12">
      <button type="button" class="play-button"><span class="glyphicon glyphicon-play" ng-click="playSentence()"></span></button>
    </div>

    <!--Bubble-->
    <div id='dropContainer' class="col-sm-8 col-xs-12 bubble" droppable drop="handleDrop">
    </div>

    <div class="col-sm-3 col-xs-12">
      <button type="button" class="sentence-button" ng-click="clearMySentence()">Clear words</button>
      <button type="button" class="sentence-button" ng-click="checkMySentence()">Check sentence</button>
    </div>
  </div>

  <!--Wordbox-->
  <div id="dropContainer" class="row word-box" droppable drop="handleDrop">                        
    <div ng-repeat="word in sentence" class="dragItem item" id="word{{word.id}}" ng-click="playSound(word.audiofile)" draggable droppable drop="handleDrop">{{word.sweWord}}</div>
  </div>

  <!--test för drag&drop-->

<!--
  <div class="row">
    <div class="bubble col-md-6">
      <div id="dragItem" draggable droppable drop="handleDrop">Drag denna</div>  
      <div id="dragItem" draggable>och denna</div>  
    </div>

    <div class="bubble col-md-6" droppable drop="handleDrop">
    </div>
  </div>
-->

<!--
  <div class="bin" droppable drop="handleDrop" ng-repeat="bin in [1, 2, 3]" bin="bin" id="bin{{ bin }}">{{ bin }}</div>
  <div class="item" id="item{{ item }}" ng-repeat="item in [1, 2, 3]" draggable item="item">{{ item }}</div>
-->


  <!-- hidden alerts-->
  <div class="row" ng-hide="alerts">
    <div class="alert alert-success" role="alert" ng-hide="success" >Well done!<button type="button">Continue</button></div>

    <div class="alert alert-danger" role="alert" ng-hide="fail" >Wrong answer</div>
  </div>

</div>




