<div class="container">

  <!--Progress bar-->
  <div class="row">
    <div class="progress">
      <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
        <span class="sr-only">20% Complete</span>
      </div>
    </div>  
  </div>

  <!--Buttons and instructions-->
  <div class="row">
    <h2>Drag the words to the bubble!</h2>
  </div>

  <div class="row">
    <div class="col-sm-1 col-xs-12">
      <button type="button" class="play-button"><span class="glyphicon glyphicon-play" ng-click="playSentence()"></span></button>
    </div>

    <!--Bubble-->
    <div id='dropContainer' class="col-sm-8 col-xs-12 bubble" data-as-sortable data-ng-model="mySentence">
    </div>

    <!--Buttons-->
    <div class="col-sm-3 col-xs-12">
      <button type="button" class="sentence-button" ng-click="clearMySentence()">Clear words</button>
      <button type="button" class="sentence-button" ng-click="checkMySentence()">Check sentence</button>
    </div>
  </div>

  <!--Wordbox-->
  <div id="dropContainer" class="row word-box" data-as-sortable data-ng-model="sentence">                        
    <div ng-repeat="word in sentence" data-as-sortable-item class="dragItem" id="word{{word.id}}" ng-click="playSound(word.audiofile)">
      <div data-as-sortable-item-handle>{{word.sweWord}}</div>
    </div>
  </div>


  <!--dragdrop test-->
  <div class="row">
    test1
    <ul data-as-sortable data-ng-model="testArray">
      <li ng-repeat="item in testArray" data-as-sortable-item>
          <div data-as-sortable-item-handle>
               {{item}}
          </div>
      </li>
    </ul>
  </div>

 <div class="row">
    test2
    <ul ngmodel="testArray">
      <li ng-repeat="item in testArray">
          <div class="test">
               {{item}}
          </div>
      </li>
    </ul>
  </div>


  <!-- hidden alerts-->
  <div class="row" ng-hide="alerts">
    <div class="alert alert-success" role="alert" ng-hide="success" >Well done!<button type="button" ng-click="levelUp()">Continue</button></div>

    <div class="alert alert-danger" role="alert" ng-hide="fail" >Wrong answer</div>
  </div>



</div>




