body {
	font: Calibri;
	font-size: 11pt;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
}

h1,h1 small {
	font-family: Lobster;
	color: white;
}

h2 {
	font-family: Lobster;
	text-align: center;
}

h3 {
	font-family: Lobster;
	text-align: center;
}

h3 {
	font-family: Lobster;
	text-align: center;
}

.container-fluid {
	margin: 0;
	padding: 0;
	cursor: default;
}

.container {
	margin-top: 0px;
	padding: 50px;
	background-color: #ffffff;
	height: auto;
	box-shadow: 0px 2px 10px #cccccc;
	overflow: hidden;
	padding-bottom: 30px;
}

.header {
	background-color: #F57B26;
	margin: 0;
	height: 90px;
}

.bubble-list,.word-list {
	list-style: none;
}

.bubble-list li,.word-list li, button, .dragItem{
	float: left;
	background-color: #ff8205;
	border-radius: 5px;
	color: #ffffff;
	height: 40px;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
}

.bubble{
	background-color: #f1f1f1;
	min-height: 50px;
	border-radius: 30px;
}

.bubble-row{	
	padding-top: 40px;
	padding-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.bubble-row .btn-success{
	float:right;
	margin-right:-10px;
	min-height:40px;
}

.info-bubble{
	background-color: #5BC0DE;
	padding: 50px;
}	

.word-box {
	background-color: #5BC0DE;
	border-radius: 5px;
	min-height: 100px;
	padding: 10px;
	margin: 10px;
}

.button{
	background-color: #ff8205;
	border-radius: 5px;
	color: #ffffff;
	height: 40px;
	width:100em;
	padding: 2px;
	margin: 5px;
}

.continue-button {
	float: right;
	margin-top: -10px;
	background-color: #57aa58;
}

.play-button {
	background-color: #0582ff;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border: none;
	margin: auto;
}

.play-button span {
	font-size: 17pt;
}

.sentence-button {
	border: none;
	height:auto;
}

.delete-button {
	float: right;
	background-color: #EC584B;
	border-radius: 20px;
	color: #ffffff;
	height: 40px;
	width: 40px;
	padding: auto;
	margin: 5px;
	border: none;
	text-align: auto;
}

.delete-button .glyphicon-remove{
	cursor: hand;
	text-align: auto;
	float: center;
}

.alert {
	margin: -40px;
	margin-top: 20px;
	padding-top: 0px;
	height: 150px;
}

.alert span {
	font-size: 12pt;
}

.progress {
	margin-bottom: 50px;
}

.glyphicon-remove {
	float: right;
}

.glyphicon{
	cursor: default;
}


#instruction-row{
	position:relative;
	min-height:150px;
	margin-left: 10px;
	margin-right: 10px;
}


#supertest{
	position:relative;
	float:center;
	text-align: center;
}


#cat{
	height:4em;
	position:absolute;
	margin-top:20px;
	margin-left:-80px;
}

#pratbubbla{
	height:4em;
	position:absolute;
	margin-top:0px;
	margin-left:-20px;
	cursor:pointer;
}

.glyphicon-play{
	color:black;
	font-size: 2em;
	position: absolute;
	margin-top:7px;
	margin-left:-2px;
	cursor:pointer;
}

#score-board {
	width: 14.1em;
	height: 19.75em;
	margin-top: 80px; 
	margin-left: 72px;
	border-radius: 1em;
	background-color: #5BC0DE;
	box-shadow: 0px 2px 10px #cccccc;
	overflow: hidden;
	cursor: default;

}

#score-board p, #score-board h1{
	color: white;
	text-align: center;
	margin-top: 1em;
	font-style: none;
}

section{
	float: center;

}

p {
		font-family: Lobster;
		font-size: 22px;
		font-weight: bold;
		font-style: italic;
		color: rgb(62, 62, 62);
		margin: 25px;
}

ul {
	float: left;
	border-radius: 5px;
	border: solid 1px rgb(198, 198, 198);
	padding: 7px 11px;
	background-color: rgb(248,248,248);
}

li {
	float: left;
	background-color: rgb(62, 62, 92);
	padding: 5px 19px;
	margin: 5px 2px 5px 0px;
	color: black;
	list-style: none;
}
li:hover, li:hover a {
	background-color: #F57B26;
	color:white;
}
li a {
	font-family: Lobster;
	color: white;
	font-size: 21px;
	font-style: italic;
	text-shadow: 1px 0px 3px rgb(157, 157, 157);
}
	li:nth-child(1) { border-radius: 4px 0px 0px 4px; margin-left: 1px;}
	li:nth-child(3) { border-radius: 0px 4px 4px 0px;}
	.active {
	background-color: #33CCFF;
}
	
