body {
	font: Calibri;
	font-size: 11pt;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
}

.container-fluid {
	margin: 0;
	padding: 0;
}

.container {
	margin-top: 100px;
	padding: 50px;
	background-color: #ffffff;
	height: auto;
	box-shadow: 0px 2px 10px #cccccc;
}

h1,h1 small {
	font-family: Lobster;
	color: white;
}

h2 {
	font-family: Lobster;
	text-align: center;
}

.bubble-list,.word-list {
	list-style: none;
}

.bubble-list li,.word-list li, button, #dragItem, .dragItem {
	float: left;
	background-color: #ff8205;
	border-radius: 5px;
	color: #ffffff;
	height: 40px;
	padding: 10px;
	margin: 5px;
}

.bubble {
	background-color: #f1f1f1;
	height: 50px;
	border-radius: 30px;

}	

.word-box {
	background-color: #5BC0DE;
	border-radius: 5px;
	margin: 10px;
}

.header {
	background-color: #F57B26;
	margin: 0;
	height: 90px;

}

.progress {
	margin-bottom: 50px;
}

#character {
	width: 40px;
	height: auto;
	background: none;
	position: absolute; 
	margin-top: 100px; 
	margin-left: -50px;
}

.score {
	background-color: #0582ff;
	width: 80%;
	margin: auto;
	text-align: center;
	font-size: 20pt;
}

.play-button {
	background-color: #0582ff;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	border: none;
	margin: auto;
}

.play-button span {
	font-size: 17pt;
}

.sentence-button {
	border: none;
}

.alert {
	margin: 0;
}

.glyphicon-remove {
	float: right;
}


%content {
  font-size: 32px;
  text-align: center;
  margin: 0 5px;
}
.bin {
  @extend %content;
  min-height: 150px;
  min-width: 150px;
  float: left;
  border: 1px solid red;
  padding: 20px;
}
.item {
  @extend %content;
  min-height: 150px;
  min-width: 150px;
  background: blue;
  float: right;
  transition: all 0.2s ease;
}
.drag {
  opacity: 0.5;
}
.over {
  background: red;
}
