body {
}

.bubble-list,.word-list {
	list-style: none;
}

.bubble-list li,.word-list li, button {
	float: left;
	background-color: #ff8205;
	border-radius: 5px;
	color: #ffffff;
	height: 40px;
	padding: 10px;
	margin-top: 5px;
	margin-left: 5px;
}

.bubble {
	background-color: #fafafa;
	height: 50px;
	border-radius: 30px;
	align: center;

}	

.word-box {
	background-color: #5BC0DE;
	border-radius: 5px;
	height: 50%;
}
