.as-sortable-item {
    -ms-touch-action: none;
    touch-action: none;
    cursor: pointer;
}

.as-sortable-item-handle {
    cursor: pointer;
}

.as-sortable-placeholder { /*vad händer när du hovrar över drop*/
    display: inline-block;
    float: left;
}

.as-sortable-drag { /*hur den stylas när den är i "luften"*/
    background: none;
    margin: 5px;
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.as-sortable-hidden {
    display: none !important;
}