/* ************************************** */
/* Mandatory CSS required for ng-sortable */
/* ************************************** */

.as-sortable-item {
    -ms-touch-action: none;
    touch-action: none;
}

.as-sortable-item-handle {
    cursor: move;
}

.as-sortable-placeholder { /*lägger en box där din dragItem hamnar*/
    display: inline-block;
    width: 124px;
    height: 110px;
    float: left;
    margin: 5px;
}


.as-sortable-drag { /*hur den stylas när den är i "luften"*/
    background: none; 
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.as-sortable-hidden {
    display: none !important;
}